<section class="p-3 pb-5">
  <div class="container">
    <div class="col-12 m-auto text-center text-white py-5">
      <h2 class="mt-5 mb-4 display-4 text-primary fw-bold">PORTFOLIO</h2>
      <div class="divider border border-2 border-primary col-md-3 m-auto position-relative mb-5">
        <i class="fa-solid fa-star position-absolute translate-middle px-3 fs-2 text-primary bg-white"></i>
      </div>
      <div class="row px-md-5">
        <div class="col-md-4 p-md-4 mb-4">
          <div class="portfolio-card rounded-3 position-relative overflow-hidden">
            <img src="../../../assets/images/cabin.png" alt="" class="w-100">
            <div class="position-absolute top-0 left-0 w-100 h-100 bg-success opacity-75 d-none" data-bs-toggle="modal" data-bs-target="#cabinModal">
              <i class="fa-solid fa-plus text-white display-2 position-absolute top-50 left-50 translate-middle"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-md-4 mb-4">
          <div class="portfolio-card rounded-3 position-relative overflow-hidden">
            <img src="../../../assets/images/cake.png" alt="" class="w-100">
            <div class="position-absolute top-0 left-0 w-100 h-100 bg-success opacity-75 d-none" data-bs-toggle="modal" data-bs-target="#cakeModal">
              <i class="fa-solid fa-plus text-white display-2 position-absolute top-50 left-50 translate-middle"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-md-4 mb-4">
          <div class="portfolio-card rounded-3 position-relative overflow-hidden">
            <img src="../../../assets/images/circus.png" alt="" class="w-100">
            <div class="position-absolute top-0 left-0 w-100 h-100 bg-success opacity-75 d-none" data-bs-toggle="modal" data-bs-target="#circusModal">
              <i class="fa-solid fa-plus text-white display-2 position-absolute top-50 left-50 translate-middle"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-md-4 mb-4">
          <div class="portfolio-card rounded-3 position-relative overflow-hidden">
            <img src="../../../assets/images/game.png" alt="" class="w-100">
            <div class="position-absolute top-0 left-0 w-100 h-100 bg-success opacity-75 d-none" data-bs-toggle="modal" data-bs-target="#gameModal">
              <i class="fa-solid fa-plus text-white display-2 position-absolute top-50 left-50 translate-middle"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-md-4 mb-4">
          <div class="portfolio-card rounded-3 position-relative overflow-hidden">
            <img src="../../../assets/images/safe.png" alt="" class="w-100">
            <div class="position-absolute top-0 left-0 w-100 h-100 bg-success opacity-75 d-none" data-bs-toggle="modal" data-bs-target="#safeModal">
              <i class="fa-solid fa-plus text-white display-2 position-absolute top-50 left-50 translate-middle"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-md-4 mb-4">
          <div class="portfolio-card rounded-3 position-relative overflow-hidden">
            <img src="../../../assets/images/submarine.png" alt="" class="w-100">
            <div class="position-absolute top-0 left-0 w-100 h-100 bg-success opacity-75 d-none" data-bs-toggle="modal" data-bs-target="#cabinModal">
              <i class="fa-solid fa-plus text-white display-2 position-absolute top-50 left-50 translate-middle"></i>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</section>


<div class="modal fade modal-xl" id="cabinModal" tabindex="-1" aria-labelledby="cabinModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <button type="button" class="btn ms-auto" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa fa-close fs-1 text-success"></i>
        </button>
      </div>
      <div class="modal-body text-center pt-0">
        <h2 class="mb-4 display-4 text-primary fw-bold">LOG CABIN</h2>
        <div class="divider border border-2 border-primary col-md-3 col-6 m-auto position-relative mb-5">
          <i class="fa-solid fa-star position-absolute translate-middle px-3 fs-2 text-primary bg-white"></i>
        </div>
        <div class="container col-12 col-md-9 p-0">
          <div class="w-75 rounded-3 overflow-hidden m-auto">
            <img src="../../assets/images/cabin.png" alt="" class="w-100">
            <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn btn-secondary bg-success border-0" data-bs-dismiss="modal"><i class="fa fa-close text-white pe-1"></i> Close Window</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-xl" id="cakeModal" tabindex="-1" aria-labelledby="cakeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <button type="button" class="btn ms-auto" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa fa-close fs-1 text-success"></i>
        </button>
      </div>
      <div class="modal-body text-center pt-0">
        <h2 class="mb-4 display-4 text-primary fw-bold">Tasty Cake</h2>
        <div class="divider border border-2 border-primary col-md-3 col-6 m-auto position-relative mb-5">
          <i class="fa-solid fa-star position-absolute translate-middle px-3 fs-2 text-primary bg-white"></i>
        </div>
        <div class="container col-12 col-md-9 p-0">
          <div class="w-75 rounded-3 overflow-hidden m-auto">
            <img src="../../assets/images/cake.png" alt="" class="w-100">
            <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn btn-secondary bg-success border-0" data-bs-dismiss="modal"><i class="fa fa-close text-white pe-1"></i> Close Window</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-xl" id="circusModal" tabindex="-1" aria-labelledby="circusModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <button type="button" class="btn ms-auto" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa fa-close fs-1 text-success"></i>
        </button>
      </div>
      <div class="modal-body text-center pt-0">
        <h2 class="mb-4 display-4 text-primary fw-bold">Circus Tent</h2>
        <div class="divider border border-2 border-primary col-md-3 col-6 m-auto position-relative mb-5">
          <i class="fa-solid fa-star position-absolute translate-middle px-3 fs-2 text-primary bg-white"></i>
        </div>
        <div class="container col-12 col-md-9 p-0">
          <div class="w-75 rounded-3 overflow-hidden m-auto">
            <img src="../../assets/images/circus.png" alt="" class="w-100">
            <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn btn-secondary bg-success border-0" data-bs-dismiss="modal"><i class="fa fa-close text-white pe-1"></i> Close Window</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-xl" id="gameModal" tabindex="-1" aria-labelledby="gameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <button type="button" class="btn ms-auto" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa fa-close fs-1 text-success"></i>
        </button>
      </div>
      <div class="modal-body text-center pt-0">
        <h2 class="mb-4 display-4 text-primary fw-bold">Controller</h2>
        <div class="divider border border-2 border-primary col-md-3 col-6 m-auto position-relative mb-5">
          <i class="fa-solid fa-star position-absolute translate-middle px-3 fs-2 text-primary bg-white"></i>
        </div>
        <div class="container col-12 col-md-9 p-0">
          <div class="w-75 rounded-3 overflow-hidden m-auto">
            <img src="../../assets/images/game.png" alt="" class="w-100">
            <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn btn-secondary bg-success border-0" data-bs-dismiss="modal"><i class="fa fa-close text-white pe-1"></i> Close Window</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-xl" id="safeModal" tabindex="-1" aria-labelledby="safeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <button type="button" class="btn ms-auto" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa fa-close fs-1 text-success"></i>
        </button>
      </div>
      <div class="modal-body text-center pt-0">
        <h2 class="mb-4 display-4 text-primary fw-bold">Locked Safe</h2>
        <div class="divider border border-2 border-primary col-md-3 col-6 m-auto position-relative mb-5">
          <i class="fa-solid fa-star position-absolute translate-middle px-3 fs-2 text-primary bg-white"></i>
        </div>
        <div class="container col-12 col-md-9 p-0">
          <div class="w-75 rounded-3 overflow-hidden m-auto">
            <img src="../../assets/images/safe.png" alt="" class="w-100">
            <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn btn-secondary bg-success border-0" data-bs-dismiss="modal"><i class="fa fa-close text-white pe-1"></i> Close Window</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-xl" id="cabinModal" tabindex="-1" aria-labelledby="cabinModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <button type="button" class="btn ms-auto" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa fa-close fs-1 text-success"></i>
        </button>
      </div>
      <div class="modal-body text-center pt-0">
        <h2 class="mb-4 display-4 text-primary fw-bold">Submarine</h2>
        <div class="divider border border-2 border-primary col-md-3 col-6 m-auto position-relative mb-5">
          <i class="fa-solid fa-star position-absolute translate-middle px-3 fs-2 text-primary bg-white"></i>
        </div>
        <div class="container col-12 col-md-9 p-0">
          <div class="w-75 rounded-3 overflow-hidden m-auto">
            <img src="../../assets/images/submarine.png" alt="" class="w-100">
            <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn btn-secondary bg-success border-0" data-bs-dismiss="modal"><i class="fa fa-close text-white pe-1"></i> Close Window</button>
      </div>
    </div>
  </div>
</div>
