<section class="bg-success p-3 pb-5">
  <div class="container">
    <div class="col-md-10 m-auto text-center text-white py-5">
      <h2 class="mt-5 mb-4 display-4 text-white fw-bold">ABOUT</h2>
      <div class="divider border border-2 border-white col-md-3 m-auto position-relative mb-5">
        <i class="fa-solid fa-star position-absolute translate-middle px-3 bg-success fs-2"></i>
      </div>
      <div class="container col-md-9 g-4">
        <div class="row text-start fs-5">
          <div class="col-md-6 p-4">
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
          </div>
          <div class="col-md-6 p-4">
            You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!
          </div>
        </div>
    </div>
    </div>
  </div>
</section>
