<nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary p-3">
  <div class="container p-2">
    <a class="navbar-brand text-white fw-bold fs-2" href="#">START ANGULAR</a>
    <button class="navbar-toggler bg-success text-white py-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="small">MENU <i class="fa fa-bars small"></i> </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link rounded-3 text-white fw-bold fs-5 p-3" aria-current="page" routerLink="/home" routerLinkActive="active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-3 text-white fw-bold fs-5 p-3" routerLink="portfolio" routerLinkActive="active" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-3 text-white fw-bold fs-5 p-3" routerLink="about" routerLinkActive="active" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-3 text-white fw-bold fs-5 p-3" routerLink="contact" routerLinkActive="active" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
