<section class="bg-success p-5">
  <div class="container">
    <div class="col-md-6 m-auto text-center text-white py-5">
      <img src="../../../assets/images/avataaars.svg" alt="">
      <h1 class="mt-5 mb-4 display-3 fw-bold">START ANGULAR</h1>
      <div class="divider border border-2 border-white col-md-6 m-auto position-relative mb-5">
        <i class="fa-solid fa-star position-absolute translate-middle px-3 bg-success fs-2"></i>
      </div>
      <p class="mt-4 fs-4">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>
